{% extends 'base.html' %}
{% block content %}
<form action="{% url 'payment_success' %}" method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{booking.total_amount}}", 
        currency: "INR",
        name: "Django Hotel",
        description: "Test Transaction",
        image: "https://example.com/your_logo",
        order_id: "{{booking.razorpay_order_id}}",
        
        redirect: true,
        prefill: {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock %}